body {
	margin: 0; padding:0;
	text-align: center;
	opacity: 0.8;
}
canvas {
	border:solid 2px #000;
	border-radius: 20px;
}
.simon-btn {
	height:50px;
	width: 50px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.simon-btn:hover {
	opacity: 0.5;
	border:solid 3px #000;
}
#settingsmenu {
	display: none;
	width: 428px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	border:solid 2px #000;
	border-radius: 20px;
}
#instructions {
	width: 428px;
	overflow: wrap;
	margin:auto;
	margin-bottom: 10px;
}
#game-mode {
	color: blue;
	cursor: pointer;
}
#high-score {
	color:#9a0000;
}
#score {
	color:#009a00;
}
#winner {
	display: none;
	text-align: center;
	width: 428px;
	margin: auto;
	margin-bottom: 10px;
	border:solid 2px #009a00;
	border-radius: 20px;
}
#winner h1 {
	margin-bottom: 20px;
}
#game-info {
	text-align: center;
	width: 428px;
	margin: auto;
	margin-bottom: 10px;
	border:solid 2px #000;
	border-radius: 20px;
}